.ResultItem{
  background-color: yellow;
  /*color: blue;*/
  margin: 10px;
  border: 2px solid black;
}

.saveButton{
  border: 1px solid gray;
  box-shadow: 5px 5px 5px #888888;
  /*margin-top: 20px;*/
}

/*.links{
  color:white;
}
.links:hover{
  text-decoration: none;
}*/
